<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>@WSDDN_BUNDLE_IDENTIFIER@.wrapper</string>
	<key>CFBundleName</key>
	<string>WS-Discovery Host Daemon Helper</string>
	<key>CFBundleDisplayName</key>
	<string>WS-Discovery Host Daemon Helper</string>
	<key>CFBundleExecutable</key>
	<string>wsddn</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>@WSDDN_VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@WSDDN_VERSION@</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2022, Eugene Gershnik</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
</dict>
</plist>
